APP_NAME=ECWF Notification Service
APP_HOST=0.0.0.0
APP_PORT=8004
DEBUG=false

SMTP_ENABLED=true
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=xxxx@gmail.com
SMTP_PASSWORD=
SMTP_USE_TLS=true
SMTP_USE_SSL=false

EMAIL_FROM_ADDRESS=
EMAIL_FROM_NAME=ECWF Platform

NOTIFICATION_MAX_RETRIES=3
NOTIFICATION_RETRY_DELAY_SECONDS=2
DEVELOPER_REDIRECT_EMAIL=xxxx@gmail.com
