APP_NAME=ECWF Authentication Service
APP_HOST=0.0.0.0
APP_PORT=8001
DEBUG=false

JWT_SECRET_KEY=change_me_long_random_jwt_secret
JWT_ALGORITHM=HS256
JWT_ISSUER=ecwf-authentication-service
JWT_AUDIENCE=ecwf-services
MAX_CONCURRENT_SESSIONS=3
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

OTP_TOKEN_EXPIRE_MINUTES=5
OTP_MAX_RETRIES=5
OTP_MAX_RESENDS=3

REGISTRATION_OTP_COOKIE_NAME=registration_otp_token
PASSWORD_RESET_OTP_COOKIE_NAME=password_reset_otp_token
PASSWORD_RESET_VERIFIED_COOKIE_NAME=password_reset_verified_token
MFA_OTP_COOKIE_NAME=mfa_otp_token
ACCESS_COOKIE_NAME=access_token
REFRESH_COOKIE_NAME=refresh_token
COOKIE_SECURE=false
COOKIE_SAMESITE=lax
COOKIE_DOMAIN=
COOKIE_PATH=/
CORS_ORIGINS=http://localhost:8001,http://localhost:8002,http://localhost:8003,http://localhost:8004

USER_SERVICE_URL=http://user-service:8002
TENANT_ADMIN_SERVICE_URL=http://tenant-admin-service:8003
NOTIFICATION_SERVICE_URL=http://notification-service:8004

OAUTH_STATE_EXPIRE_MINUTES=10
GOOGLE_CLIENT_ID=xxxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=xxxx
GOOGLE_REDIRECT_URI=http://localhost:8001/auth/google/callback
GOOGLE_AUTHORIZATION_URL=https://accounts.google.com/o/oauth2/v2/auth
GOOGLE_TOKEN_URL=https://oauth2.googleapis.com/token
GOOGLE_USERINFO_URL=https://openidconnect.googleapis.com/v1/userinfo

